<%= devise_error_messages! %>

<div style="overflow: auto">
<div style="float:left; margin-right:25px;">

<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_url(resource_name)) do |f| %>


  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :user_type%></br>
  <%= f.collection_select :user_type, User::USER_TYPES, :to_s, :humanize %></div><br/>

<div><%# f.label 'I agree to the Terms of Service' %><%= f.check_box :terms%>  I agree to the <%= link_to 'Terms Of Service', about_url %>
</div><br/>

  <div><%= f.submit "Sign up" %></div>
<% end %>



</div>
<div>

<h2>Welcome to Intern</h2>

<p>Intern is a site that aims to provide students looking to expand their experiences with an offering of approved internship positions in varying companies, consisting of large corporations as well as smaller business entities.  Similarly, the site provides these companies with a connection to students looking for work. </p>

<p>Intern offers its users the ability to find internships in professional environments that would best fit them on a personal level.  This focus on accurately matching prospective interns and employers using our attitudinal survey attempts to overcome the faults inherent in existing internship-matching solutions that do not take into account how an intern candidate’s personality would be well-suited for a company’s culture. </p>

<p>To register as a student or company, fill out the forms above.</p>

<p>To login, follow the login link above and enter your email and password.</p>

</div>
</div>