<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @qsort.name %>
</p>

<p>
  <b>Position:</b>
  <%= @qsort.position %>
</p>


<%= link_to 'Edit', edit_qsort_url(@qsort) %> |
<%= link_to 'Back', qsorts_url %>
