<!DOCTYPE html>
<html>
<head>
  <title>Stutern</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class = "head">
		<%= image_tag 'intern.png', :class => 'header' %>
		<ul id ="nav">
			<%= render 'devise/menu/login_items' %>
            <%= render 'devise/menu/registration_items' %>
            <%= render 'devise/menu/admin_items' %>
            <%= render 'devise/menu/common_user_items'  %>
        </ul>
    </div>
	<div class = "body">
		<%= yield %>
	</div>
	<div class = "foot">
		<p>
			<%= link_to "About", about_url %>
		</p>
	</div>
</body>
</html>
